# Build outputs
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates
/src/UnixphileLearn/wwwroot/dist.css

# Visual Studio / Rider / IDE
.vs/
.idea/
*.vscode/

# NuGet
*.nupkg
*.snupkg
packages/

#npm
/src/UnixphileLearn/node_modules/

# OS
.DS_Store
Thumbs.db

# SQLite database (optional, ignore if you don’t want it in git)
*.db

# Logs
*.log

# Publish profile (if you want to keep it secret)
*.PublishSettings

