@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@using UnixphileLearn.Models
@using UnixphileLearn.Components.Cards

<PageTitle>Unixphile Learn</PageTitle>

<div class="container mx-auto p-4">
    <h1 class="text-3xl font-inter text-center my-6">Available Courses</h1>

    @if (courses == null)
    {
        <div class="alert alert-info shadow-lg">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 18h.01M12 6h.01" />
                </svg>
                <span>Loading courses...</span>
            </div>
        </div>
    }
    else if (!courses.Any())
    {
        <div class="alert alert-warning shadow-lg">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 18h.01M12 6h.01" />
                </svg>
                <span>No courses available.</span>
            </div>
        </div>
    }
    else
    {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            @foreach (var course in courses ?? new List<Course>())
            {
                <CourseCard Course="course"/>
            }
        </div>
    }
</div>

@code {
    private List<Course>? courses;

    // Fetch the Courses from the database
    protected override async Task OnInitializedAsync()
    {
        if (HttpClient != null)
        {
            courses = await HttpClient.GetFromJsonAsync<List<Course>>(NavigationManager.BaseUri + "api/courses");
        }
    }
}