@inherits LayoutComponentBase

<div class="flex flex-col min-h-screen">
    <!-- Navbar -->
    <div class="sticky top-0 z-50">
        <NavMenu />
    </div>

    <!-- Main Content -->
    <main class="flex-grow">
        @Body
    </main>

    <!-- Footer -->
    <div>
        <Footer />
    </div>
</div>
