@inherits LayoutComponentBase

<div class="">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="">
            <a href="" target="_blank">About</a>
        </div>

        <article class="">
            @Body
        </article>
    </main>
</div>
